<ion-header>
  <ion-navbar>
    <ion-title>
      Maries und Georgs Rezeptbuch
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="ingrQuery" placeholder="Suche nach Zutaten"></ion-searchbar>
  <ion-searchbar [(ngModel)]="ctgQuery" placeholder="Suche nach Kategorien"></ion-searchbar>
  <ion-searchbar [(ngModel)]="titleQuery" placeholder="Suche nach Titel"></ion-searchbar>
  <ion-list *ngIf="recipes">
    <ion-item *ngFor="let recipe of recipes | filterRecipes:ingrQuery:ctgQuery:titleQuery" (click)="viewRecipe(recipe)">
      {{ recipe.title }}
    </ion-item>
  </ion-list>
  <button type="button" (click)="log()"></button>
</ion-content>
