<ion-header [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-navbar color="primary">
    <ion-title>
      Rezeptbuch
    </ion-title>
    <ion-buttons end>
      <button class="nav-button" *ngIf="!sortDesc" ion-button icon-only (click)="sortDesc = true">
        <ion-icon name="arrow-up"></ion-icon>
      </button>
      <button class="nav-button" *ngIf="sortDesc" ion-button icon-only (click)="sortDesc = false">
        <ion-icon name="arrow-down"></ion-icon>
      </button>
      <button class="nav-button" ion-button icon-only (click)="showSortOptions()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar #search [(ngModel)]="query" showCancelButton="true" spellcheck="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab right bottom>
    <button ion-fab icon-only color="primary" (click)="newRecipe()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div class="spin" *ngIf="!recipes">
    <ion-spinner text-center></ion-spinner>
  </div>
  <ion-list inset no-lines *ngIf="recipes">
    <ion-item>
      <ion-label>Vegetarisch</ion-label>
      <ion-toggle checked="false" (ionChange)="toggleCategory('Vegetarisch')"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Vegan</ion-label>
      <ion-toggle checked="false" (ionChange)="toggleCategory('Vegan')"></ion-toggle>
    </ion-item>
  </ion-list>
  <div *ngIf="recipes">
      <ion-card *ngFor="let recipe of recipes | filterRecipes:query | sortRecipes:sortType:sortDesc" (tap)="viewRecipe(recipe)">
        <div class="img-container">
          <img *ngIf="!recipe.heroImage" class="thumbnail" src="assets/images/comingsoon.jpg"/>
          <img *ngIf="recipe.heroImage" class="thumbnail" src="{{ recipe.heroImage | thumbnail:600:0 }}"/>
          <div class="veggie">
            <img *ngIf="recipe.categories.includes('Vegetarisch')" src="assets/svg/vegetarian.svg">
            <img *ngIf="recipe.categories.includes('Vegan')" src="assets/svg/vegan.svg">
          </div>
          <div class="minutes">
            <ion-icon name="time" style="padding-right: 0.5rem"></ion-icon>
            <span> {{recipe.duration}} min.</span>
          </div>
        </div>
        <ion-card-content>
          <ion-card-title text-wrap style="padding-top: 0; font-weight: 300; color: black;">
            {{ recipe.title }}
          </ion-card-title>
          <div *ngIf="recipe.categories" class="categories" text-wrap><span *ngFor="let ctg of recipe.categories | noVeggies" style="margin-right: 2px;"><span style="margin-right: 2px;">#</span><strong>{{ ctg }}</strong> </span></div>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>
