page-home {

    .nav-button {
        margin: 0 0.75rem;
    }

    button img {
        height: 24px;
        width: 24px;
    }

    .fab-in-list {
        height: 48px;
        width: 48px;
        background-color: #222;
        transition: all .5s ease;
    }

    .fab-in-list.filtered {
        background-color: #4357AD;
    }

    .recipes {
        transition: opacity .5s ease;
    }

    .recipes.fade {
        opacity: 0.3;
    }

    .img-container {
        position: relative;
        text-align: right;
    }

    .thumbnail {
        height:200px; 
        object-fit:cover
    }

    .minutes {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-bottom: 4%;
        padding-top: 20%;
        padding-right: 5%;
        color: white;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
    }

    .veggie {
        position: absolute;
        bottom: 4%;
        left: 5%;
        z-index: 10000;

        img {
            height: 28px;
            width: 28px;
            display: inline-block;
        }
    }

    .categories {
        padding-top: 0.5rem;
        font-size: 12px;
        text-transform: uppercase;
    }

    div.spin {
        text-align: center;
        margin-top: 5rem;
    }

    .scroll-content{
        top: -112px !important;
        padding-top: 120px !important;
    }
    .hide-header{
        transition : top 0.15s ease;
        top: -112px;
    }
    .show-header{
        transition : top 0.15s ease;
        top: 0px;
    }
}
