<ion-header>
  <ion-navbar color="primary">
    <ion-title>Wochenplan</ion-title>
    <ion-buttons end>
      <button class="nav-button" *ngIf="!deleting" ion-button icon-only (click)="newEntry()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button class="nav-button" *ngIf="!deleting" ion-button icon-only (click)="deleteMode()">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button class="nav-button" *ngIf="deleting" ion-button icon-only (click)="exitDeleteMode()">
        <ion-icon name="checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let day of week; let i = index">
      <h5 class="date-label" (tap)="newDayEntry(i)">{{ day | weekday }}</h5>
      <div *ngFor="let entry of plan | dayFilter:day"  (click)="viewRecipe(entry.recipe)">
        <div class="recipe-title" *ngIf="hasRecipe(entry)" text-wrap>
          <div *ngIf="entry.recipe">{{ entry.recipe.title }}</div>
          <div *ngIf="!entry.recipe">{{ entry.custom }}</div>
          <div *ngIf="deleting" text-center padding-top>
            <button ion-button icon-right default color="danger" (click)="deleteEntry(entry)">
              Löschen
              <ion-icon name="trash"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
