<ion-header>
  <ion-navbar color="primary">
    <ion-title>Wochenplan</ion-title>
    <ion-buttons end>
      <button class="nav-button" *ngIf="!deleting" ion-button icon-only (click)="pastEntry()">
        <ion-icon name="calendar"></ion-icon>
      </button>
      <button class="nav-button" *ngIf="!deleting" ion-button icon-only (click)="newEntry()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button class="nav-button" *ngIf="!deleting" ion-button icon-only (click)="deleteMode()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button class="nav-button" *ngIf="deleting" ion-button icon-only (click)="exitDeleteMode()">
        <ion-icon name="checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-buttons left class="left-buttons">
      <button ion-button icon-only (click)="weekBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{ weekString }}</ion-title>
    <ion-buttons right class="right-buttons">
      <button ion-button icon-only (click)="weekForward()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let day of week; let i = index">
      <h5 class="date-label" (tap)="newDayEntry(i)">{{ day | weekday }}</h5>
      <div *ngFor="let entry of plan | dayFilter:day"  (tap)="viewRecipe(entry.recipe, entry.servings)">
        <div class="entry" *ngIf="hasRecipe(entry)" text-wrap>
          <div class="entry-info">{{ entry.time }} | {{ entry.servings }} Personen</div>
          <div *ngIf="entry.recipe">{{ entry.recipe.title }}</div>
          <div *ngIf="!entry.recipe">{{ entry.custom }}</div>
          <div *ngIf="deleting" text-center padding-top>
            <button ion-button icon-right default color="secondary" (click)="editEntry(entry)">
              Bearbeiten
            </button>
            <button ion-button icon-right default color="danger" (click)="deleteEntry(entry)">
              Löschen
            </button>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item *ngIf="weekDifference !== 0">
      <button ion-button default full (click)="resetWeek()">Zurück zu dieser Woche</button>
    </ion-item>
  </ion-list>
</ion-content>
