page-weekplan {

    .date-label {
        color: #bbb;
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .recipe-title {
        color: black;
        font-size: 18px;
        font-weight: 400;
        padding-top: 1rem;
    }
}
