page-weekplan {

    .nav-button {
        margin: 0 0.75rem;
    }

    .date-label {
        color: #bbb;
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .entry {
        color: #222;
        font-size: 18px;
        font-weight: 400;
        padding-top: 1rem;
    }

    .entry-info {
        color: #666;
        font-size: 10px; 
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: .75rem;
    }
}
