<ion-header>
  <ion-navbar color="primary">
    <ion-title>Wochenplan</ion-title>
    <ion-buttons end>
      <button *ngIf="!deleting" ion-button icon-only (click)="newEntry()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button *ngIf="!deleting" ion-button icon-only (click)="deleteMode()">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button *ngIf="deleting" ion-button icon-only (click)="exitDeleteMode()">
        <ion-icon name="checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let day of plan; let i = index" (click)="viewRecipe(day.recipe)">
      <h5 class="date-label">{{ day.date | weekday }}</h5>
      <div class="recipe-title" *ngIf="hasRecipe(day)" text-wrap>
        <div *ngIf="day.recipe">{{ day.recipe.title }}</div>
        <div *ngIf="!day.recipe">{{ day.custom }}</div>
        <div *ngIf="deleting" text-center padding-top>
          <button ion-button icon-right default color="danger" (click)="deleteEntry(i)">
            Löschen
            <ion-icon name="trash"></ion-icon>
          </button>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
