<ion-header>
  <ion-navbar color="primary">
    <ion-title>Einkaufsliste</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="addingItem" (click)="addItem(newItem.value); newItem.value=''; addingItem=false">Hinzufügen</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item style="border-bottom: 1px #e2e2e2 solid">
    <ion-input #newItem keyboardfix type="text" placeholder="Hinzufügen" (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    (input)="addingItem = true"></ion-input>
  </ion-item>
  <div *ngIf="shoppingList">
    <div class="item" *ngFor="let item of shoppingList" (press)="editItem(item)">
      <div class="check" (click)="removeItem(item)"></div>
      <div class="item-text">{{ item }}</div>
    </div>
  </div>
</ion-content>
