number-picker {
    .number {
        font-size: 48px;
        padding: 0 5rem;
    }

    .caption {
        color: #bbb;
        font-size: 14px;
        padding-top: 1rem;
        text-transform: uppercase;
    }
}
