<ion-header>
  <ion-navbar color="primary">
    <ion-title>Neuer Eintrag</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Wochentag</ion-label>
      <ion-select [(ngModel)]="day" interface="popover">
        <ion-option value="0" >{{ getDate(0) | weekday }}</ion-option>
        <ion-option value="1" >{{ getDate(1) | weekday }}</ion-option>
        <ion-option value="2" >{{ getDate(2) | weekday }}</ion-option>
        <ion-option value="3" >{{ getDate(3) | weekday }}</ion-option>
        <ion-option value="4" >{{ getDate(4) | weekday }}</ion-option>
        <ion-option value="5" >{{ getDate(5) | weekday }}</ion-option>
        <ion-option value="6" >{{ getDate(6) | weekday }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Uhrzeit</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="time"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="servings">
      <number-picker [start]="servings" [caption]="'Portionen'" [captionSingular]="'Portion'" (onChange)="servingsChange($event)"></number-picker>
    </ion-item>
    <ion-item>
      <ion-label floating>Eigenes Rezept</ion-label>
      <ion-input #newentry keyboardfix type="text" [disabled]="search.value.length > 0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Durchsuchen</ion-label>
      <ion-input #search keyboardfix type="text" [disabled]="newentry.value.length > 0"></ion-input>
    </ion-item>
    <ion-item *ngIf="search.value.length === 0">
      <button ion-button block default (click)="save(newentry.value)" [disabled]="newentry.value.length === 0">Hinzufügen</button>
    </ion-item>
    <ion-item *ngIf="search.value.length > 0">
      <ion-list>
        <button ion-item *ngFor="let recipe of recipes | sortRecipes:'last-cooked':true:weekplan | filterRecipes:search.value" (click)="saveRecipe(recipe)" style="border-bottom: 1px #ccc solid; padding: 0.5rem 0">
          {{ recipe.title }}
        </button>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
